<div class="step_form" id="step_identification_4"><!-- 0.4 -->
    <h2 class="margin-ultra-bottom">Veuillez vous identifier :</h2>
        <div class="form-content">
            <div class="form-group"> 
                <div class="col-xs-11 col-md-8 col-sm-12">
                    <div class="radio radio-list">
                        <input type="radio" name="radio15" id="inlineRadio15" ng-init="isMe = false" ng-model="isMe"  value="1" />
                        <label class="radio" for="inlineRadio15">{{ Holder.prenom}} {{ Holder.nom}}  né le {{ Holder.birthDay }}/{{ Holder.birthMonth }}/{{ Holder.birthYear }}</label>
                    </div>
                 </div>
                <div class="col-xs-12 col-md-4 col-sm-12">{{ isMe }}</div>
        </div>

        <div class="form-group">
            <div class="col-xs-11 col-sm-12 col-md-12 text-center">
                <button type="button" class="btn btn-primary aide-photo-btn" ng-click="gotoStep('/Forfait')" title="Valider le formulaire et poursuivre"><span>Valider</span></button>
            </div>
        </div>
    </div>
</div>




