

<div class="step_form" id="echec"><!-- Echec -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="warning">
                <img ng-src="{{ prefix_front }}bundles/sel/images/warning.png" class="picto" alt="Attention">
                <br><br>
                <p>{{errorMessages[Holder.erreur]}}</p>
                <p>Nous vous invitons à contacter le service client au 09 69 39 57 57 (coùt d'un appel local non surtaxé) du lundi au vendredi de 8h à 20h, le samedi de 9h à 20h, fermé le dimanche.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
            <div class="col-xs-11 col-sm-12 col-md-12 text-center">
            <button type="button" class="btn btn-primary aide-photo-btn" title="Retourner à l'accueil"><span>Terminer</span></button>
        </div>
    </div>
</div>
