<div class="step_form" id="step_identification_2"><!-- 0.2 -->
    <p class="title"><b class="black">Veuillez renseigner les informations suivantes :</b></p>
    <div class="form-content" ng-form name="step_form" novalidate>
        <p class="warning-light red"  ng-show="(error != '' && error != null)" class="text-error">
            <img ng-src="{{ prefix_front }}bundles/sel/images/alert.png" class="picto" alt="Alerte">
            <strong>{{error}}</strong>
        </p>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <label for="numero-client">Numéro client<span class="star">*</span></label>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-4">
                <input id="numero-client" type="text" name="reference" class="form-control" placeholder="Inscrit à coté de la photo" ng-model="userSig.reference" ng-minlength="1" ng-maxlength="20" ng-pattern="/[0-9]+/" ng-required="!userSig.unknowReference" ng-disabled="userSig.unknowReference == true"  aria-required="true">
                <span class="mess-error" ng-show="formSubmitted && (step_form.reference.$invalid)">{{errorMessages['IHM-TRANS-ERR_001']}}</span>
                <span class="mess-error" ng-show="step_form.reference.$error.pattern">Information incorrecte, veuillez la saisir à nouveau.</span>
                <span class="mess-error" ng-show="step_form.reference.$error.minlength || step_form.reference.$error.maxlength">Information incorrecte, veuillez la saisir à nouveau.</span>
                <img ng-src="{{ prefix_front }}bundles/sel/images/error.png" class="picto error" alt="Erreur" ng-show="formSubmitted && (step_form.reference.$invalid)">
            </div>
            <div class="col-xs-12 col-sm-2 col-md-4">
                <a href="#/IdentificationHelp" target="_blank" class="btn btn-default btn-sm identification-help" title="Trouver votre référence client (nouvelle fenêtre)">Où le trouver ?</a>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-4">
                <div class="checkbox creation-compte margin-bottom">
                    <input id="checkbox02" type="checkbox" ng-model='userSig.unknowReference'  ng-true-value="true" ng-false-value="false" >
                    <label for="checkbox02">
                        Je ne connais pas mon numéro client ou je dispose d'une carte Navigo Découverte
                        <a class="bullet-help" href="#/IdentificationHelp#collapseTwo" target="_blank" title="Page comment trouver le numéro client (nouvelle fenêtre)" aria-label="page d'aide, comment trouver le numéro client">
                            <img ng-src="{{ prefix_front }}bundles/sel/images/question.png" class="picto" alt="Aide" width="20" height="20">
                        </a>
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group birthdate">
            <label for="birthdate" class="col-xs-12 col-sm-12 col-md-4 control-label">Date de naissance<span class="star">*</span></label>
            <div class="col-xs-12 col-sm-8 col-md-4">
                <input id="birthdate" type="text" placeholder="JJ" name="birthday" class="form-control pull-left" id="birthdate" ng-model="userSig.birthDate.day" maxlength="2" required aria-required="true" aria-label="jour de votre naissance">
                <input type="text" placeholder="MM" name="birthmonth" class="form-control pull-left" ng-model="userSig.birthDate.month"  maxlength="2" required aria-required="true" aria-label="mois de votre naissance">
                <input type="text" placeholder="AAAA" name="birthyear" class="form-control pull-left" ng-model="userSig.birthDate.year"  maxlength="4" required aria-required="true" aria-label="année de votre naissance">
                <span class="mess-error" ng-show="formSubmitted && (step_form.birthday.$invalid || step_form.birthmonth.$invalid || step_form.birthyear.$invalid)">{{errorMessages['IHM-TRANS-ERR_001']}}</span>
                <span class="mess-error" ng-show="step_form.birthday.$error.date ">Cette date n'est pas valide</span>
                <img ng-src="{{ prefix_front }}bundles/sel/images/error.png" class="picto error" alt="Erreur" ng-show="step_form.birthday.$error.date || (formSubmitted && (step_form.birthday.$invalid || step_form.birthmonth.$invalid || step_form.birthyear.$invalid))">
            </div>
            <div class="col-xs-12 col-sm-2 col-md-4"></div>
        </div>


        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <button type="button" class="btn btn-primary aide-photo-btn" ng-click="identification.stepSubmit()" title="Valider le formulaire et poursuivre"><span>Continuer</span></button>
            </div>
        </div>

    </div>
</div>
