<div class="step_form" id="step_photo">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
			<h2 id="chargement-photo" class="margin-ultra-bottom" tabindex="-1">Chargement
				de votre photo</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
			<p class="title">
				<strong>Votre photo doit être <span class="fw-normal">(<a
						href="static/na-aide-photo" class="link underline">en savoir
							plus</a>)
				</span>:
				</strong>
			</p>
			<div class="infos no-border no-margin">
				<div class="info">
					<ul class="color_bullet">
						<li>de face, tête nue, sur fond clair, type photo d’identité
						</li>
						<li>en couleur</li>
						<li>aux formats : JPEG, GIF, BMP, TIFF, GIF, PNG ou PDF</li>
						<li>d’un poids maximum de 5 Mo</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="form-content box_btn_action_pictures" ng-form="myForm">

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<p class="warning-light red" class="mess-error"
					ng-show="!files[0] && rejFiles.length != 0 && rejFiles != empty">
					<img ng-src="{{ prefix_front }}bundles/sel/images/alert.png"
						class="picto" alt="Alerte"> <strong> Nous n'avons
						pas détecté de visage sur votre photo. </strong>
				</p>
				<p class="warning-light">
					<strong> ATTENTION<br> Si votre photo n'est pas
						conforme, votre dossier ne sera pas validé dans les délais
						habituellement annoncés.
					</strong>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="media photo col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3"
				ng-hide="Holder.CropedFileUrl == null || Holder.CropedFileUrl == '' ">
				<p>
					<span>Votre photo après traitement</span>
				</p>
				<div class="media-left">
					<span class="photo-identite">
						<div class="preview">
							<img class="media-object" ng-src="{{ Holder.CropedFileUrl }}"
								ng-show="Holder.CropedFileUrl != null && CropedFileUrl != ''"
								alt="photo identité" width="104" />
						</div>
					</span>
				</div>
				<div class="media-body">
					<a href="#/Photo" class="delete" ng-click="deletePhoto()"> <img
						ng-src="{{ prefix_front }}bundles/sel/images/delete.png" class="picto"
						alt="Supprimer"> <span>Supprimer</span>
					</a>
				</div>
			</div>

			<div class="form-group" ng-hide="Holder.CropedFileUrl != null && Holder.CropedFileUrl != ''">
				<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
					<div ngf-select="" class="fileUpload btn btn-default"
						ng-model="files" class="upload-button" ngf-multiple="false"
						ngf-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles"
						tabindex="0" title="Choisir une photo">
						<span>Parcourir</span> <input type="file" class="upload" value="" />
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
					<button id="prendrePhoto" type="button"
						ng-class="{'btn btPrendrePhotoDisabled' : !isUserMedia, 'btn btn-default' : isUserMedia}"
						ng-click="onTakePic()" ng-disabled="!isUserMedia"
						value="Retoucher cette photo">
						<span>Prendre une photo</span> <span ng-show="!isUserMedia"
							id="msgNavigateurIncompatible">(navigateur/camera
							indisponible !)</span>
					</button>
				</div>
			</div>
			<div class="row">
				<div
                    class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3"
                    ng-show="Holder.CropedFileUrl == null || Holder.CropedFileUrl == ''">
                <a href="#/Paiement" class="link addto"> <span>Ajouter
							une photo plus tard et continuer</span>
                </a>
            </div>
			</div>
		</div>

		<div class="form-group">
            <div class="col-xs-11 col-sm-12 col-md-12 text-center">
				<button type="button" 
				ng-disabled="!isUserPhoto"
				        ng-hide="!isUserPhoto || showOriginalPhoto"
					class="btn btn-primary aide-photo-btn"
					value="Valider cette photo et continuer" 
					ng-click="submitForm()"
					>
					<span>Valider cette photo et continuer</span>
				</button>
			</div>
		</div>

		<div class="row" ng-hide="Holder.CropedFileUrl == null || Holder.CropedFileUrl == '' || showOriginalPhoto ">
			<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<a href="#/Photo" class="link text-center return"
					ng-click="showOriginalPhoto = true"> <span class="icon icon-equalizer small-image"></span> <span>Retoucher
						cette photo</span>
				</a>
			</div>
		</div>

	</div>
	<!-- form-content -->
	<div class="form-content center-block" ng-hide="Holder.CropedFileUrl == null || Holder.CropedFileUrl == '' || !showOriginalPhoto" id="image-cropper">
		<!-- ng-hide="Holder.CropedFileUrl == null || Holder.CropedFileUrl == '' || !showOriginalPhoto " -->
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<p class="warning-light">
					<strong> ATTENTION<br> Si votre photo n'est pas
						conforme, votre dossier ne sera pas validé dans les délais
						habituellement annoncés.
					</strong>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="media photo col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<p>
					<span>Votre photo originale</span>
				</p>
				<div class="media-left">
					<span class="photo-identite">
						<canvas id="canvasImg"></canvas> <!-- HTML Canvas -->
					</span>
				</div>
				<div class="media-body">
					<a href="#/Photo" class="delete" ng-click="deleteOriginalPhoto()">
						<img ng-src="{{ prefix_front }}bundles/sel/images/delete.png"
						class="picto" alt="Supprimer"> <span>Supprimer</span>
					</a>
				</div>
			</div>
			<div class="row show-grid">
				<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
					<p>
						<strong>Souhaitez-vous forcer l'utilisation de cette
							photo ?</strong>
					</p>
					<div class="checkbox margin-bottom">
						<input id="checkbox96" type="checkbox" ng-model="acceptPhoto" > <label
							for="checkbox96">Je déclare cette photo valide et
							souhaite l'utiliser pour ma souscription</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<p class="retoucher">
					<strong>Vous pouvez modifier l'apparence de votre photo
						avant de l'envoyer :</strong>
				</p>
				<div id="Filters">
					<div class="Filter">
						<!-- CamanJS rotate plugin => https://github.com/meltingice/CamanJS-Plugins/commit/baf52aeef87e0730e37f336b53728484c8eab3c1 -->
						<div class="FilterSetting">
							<span class="FilterName">Orientation</span>
							<div class="rotate-control">
								<div class="redo rotate">
									<span class="icon icon-undo small-image"></span> <input
										type="button" class="undo" value="" data-filter=""
										title="Pivoter à gauche" ng-click="onRotateImg('undo')">
								</div>
								<div class="redo rotate">
									<span class="icon icon-redo small-image"></span> <input
										type="button" class="redo" value="" data-filter=""
										title="Pivoter à droite" ng-click="onRotateImg('redo')">
								</div>
							</div>
						</div>
					</div>

					<div class="slider">
						<!-- Cropit => http://scottcheng.github.io/cropit/  -->
						<div class="slider-wrapper">
							<span class="FilterName">Recadrer</span> <span
								class="icon icon-image small-image"></span> <input type="range"
								class="cropit-image-zoom-input custom" value="100" min="0"
								max="200" step="1" ng-model="zoomValue"
								ng-change="onZoom(zoomValue)">
							<span class="icon icon-image large-image"></span>
						</div>
					</div>
					<!-- // slider cropit -->

					<!-- // CamanJS => http://camanjs.com/examples/  -->

					<div class="Filter">
						<div class="FilterSetting">
							<span class="FilterName">Luminosité</span> <span
								class="icon icon-sun small-image"></span> <input type="range"
								min="0" max="200" step="10" value="100" ng-model="lumiValue"
								ng-change="onLumi(lumiValue)" id="brightness"
								data-filter="brightness">
							<span class="icon icon-sun large-image"></span>
						</div>
					</div>
					<div class="Filter">
						<div class="FilterSetting">
							<span class="FilterName">Contraste</span> <span
								class="icon icon-contrast small-image"></span> <input
								type="range" min="0" max="200" step="10" value="100"
								ng-model="contrastValue" ng-change="onContrast(contrastValue)"
								id="contrast" data-filter="contrast">
							<span class="icon icon-contrast large-image"></span>
						</div>
					</div>
				</div>
				<!-- filters -->
			</div>
		</div>
	</div>
	<!-- form-content -->

	<div class="form-group">
            <div class="col-xs-11 col-sm-12 col-md-12 text-center">
			<button type="button" 
			ng-disabled="!isUserPhoto || acceptPhoto"
			ng-hide="!isUserPhoto || !showOriginalPhoto"
				class="btn btn-primary aide-photo-btn"
				value="Valider cette photo et continuer"
				ng-click="onSelectImgModifed()">
				<span>Valider cette photo et continuer</span>
			</button>
		</div>
	</div>

	<!-- Modal Prendre Video : -->
	<div class="modal fade" id="modalPrendrePhoto" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Prendre une photo
						avec votre webcam :</h4>
				</div>
				<div class="modal-body">
					<div class="row">

						<div class="col-xs-6 colVideo">
							<!-- Colonne video Canvas -->

							<video id="videoCanvas"></video>
						</div>

						<div class="col-xs-6 colPreviewCapture"
							ng-show="isVideoCaptureDone">
							<!-- Colonne capture image  -->
							<div id="canvasPreviewCapture">
								<img id="previewCapture" />
							</div>
						</div>

					</div>

					<div class="row">
						<!-- Row Bouton -->
						<div class="col-xs-6">
							<button type="button" id="btCaptureImg"
								class="btn btn-default btn-modal bt_capture">Prendre
								une image</button>
						</div>
						<div class="col-xs-6" ng-show="isVideoCaptureDone">

							<p ng-show="!isWebCamImageValid">Votre photo est invalide</p>
							<button ng-show="isWebCamImageValid" type="button"
								id="btSelectionImg" class="btn btn-default btn-modal bt_capture"
								ng-click="onSelectImg()">Garder
								cette image</button>
						</div>
					</div>

					<div class="row rowHiddenCanvas">
						<div class="col-xs-6">
							<canvas id="hiddenCanvasCaptureImage"></canvas>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

</div>
