{% verbatim %}<div class="step_form" id="echec"><!-- Echec -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="warning">
                <img src="data:null" data-ng-src="{{ prefix_front }}bundles/sel/images/warning.png" class="picto" alt="Attention">
                <br>
                <br>
                <p data-ng-bind-html="pageCtrl.errorMsg"></p>
                <div class="col-xs-10 col-xs-offset-1" data-message-dv meskey="{{pageCtrl.meskey}}"></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button data-ng-click="pageCtrl.onTerminer()" type="button" class="btn btn-default aide-photo-btn" title="{% endverbatim %}{{"rat.rat_echec.btn_retour_accueil_info"|trans({}, "rat", "fr")|raw}}{% verbatim %}">
                <span>{% endverbatim %}{{"rat.rat_echec.btn_retour_accueil"|trans({}, "rat", "fr")|raw}}{% verbatim %}</span></button>
        </div>
    </div>
</div>{% endverbatim %}
