<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="rester-connecte">

            <br/>
            {{'conn.conn_help.lbl_info'|trans({}, 'conn', 'fr')|raw}}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="javascript:window.close()"><button type="button" class="btn btn-default aide-photo-btn" value="{{'rat.rat_aide.btn_fermer_aide_info3'|trans({}, 'rat', 'fr')|raw}}"><span>{{'rat.rat_aide.btn_fermer_aide_info3'|trans({}, 'rat', 'fr')|raw}}</span></button></a>
        </div>
    </div>
</div>
