<h2 id="confirmation-demande" tabindex="-1">Confirmation de votre demande</h2>
<div class="confirmation">
    <div message-dv meskey="{{pageCtrl.meskey}}"></div>
    <div message-dv meskey="{{pageCtrl.meskey2}}"></div>
    <p message-dv meskey="{{pageCtrl.meskey3}}"></p>
    <p message-dv meskey="{{pageCtrl.meskey4}}"></p>
    <p message-dv meskey="{{pageCtrl.meskey5}}"></p>
    <p message-dv meskey="{{pageCtrl.meskey6}}"></p>
</div>

<!--
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey2}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey3}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey4}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey5}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey6}}"></div>
</div>
-->
<div class="row">
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary aide-photo-btn" title="{{pageCtrl.buttonMessageTitle}}" ng-click="pageCtrl.stepSubmit()"><span>{{pageCtrl.buttonMessage}}</span></button>
    </div>
</div>
