<div class="infos">
    <div class="info">
        <div class="text-center">
            <p message-dv meskey="{{pageCtrl.meskey}}"></p>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey}}"></div>
</div>
-->
<div class="row">
    <div class="col-xs-12 text-center">
         <button type="button" class="btn btn-primary aide-photo-btn" title="{{pageCtrl.buttonMessageTitle}}" ng-click="pageCtrl.stepSubmit()"><span>{{pageCtrl.buttonMessage}}</span></button>
    </div>
</div>