<h2 id="validation-paiement" tabindex="-1">Confirmer votre demande</h2>
<div class="infos">
    <div class="info">
        <p message-dv meskey="{{pageCtrl.meskey}}"></p>
        <p message-dv meskey="{{pageCtrl.meskey2}}"></p>
        <p message-dv meskey="{{pageCtrl.meskey3}}"></p>
    </div>
</div>

<!--
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey2}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" message-dv meskey="{{pageCtrl.meskey3}}"></div>
</div>
-->
<div class="row">
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary aide-photo-btn" title="{{pageCtrl.buttonMessageTitle}}" ng-click="pageCtrl.stepSubmit()"><span>{{pageCtrl.buttonMessage}}</span></button>
    </div>
</div>
