<div class="step_form" id="echec-specifique"><!-- Echec -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="warning">
                <img ng-src="{{ prefix_front }}bundles/sel/images/warning.png" class="picto" alt="Attention">
                <br>
                <br>
                <p>Nous ne sommes pas en mesure de donner suite à votre demande.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary aide-photo-btn" title="Terminer et retourner à la page d'accueil"><span>Terminer</span></button>
        </div>
    </div>
</div>