                                <div class="step_form" id="step_profil_2"><!-- 0.2 -->
                                 <p class="title"><b class="black">Veuillez renseigner les informations suivantes :</b></p>
                                    <div class="form-content">

                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Numéro client</label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control" placeholder="Inscrit à coté de la photo">
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#" class="btn btn-default btn-sm" title="Trouver votre référence client">Où le trouver ?</a>
                                            </div>
                                        </div>
                                        <div class="checkbox margin-bottom">
                                            <input id="checkbox02" type="checkbox">
                                            <label for="checkbox02">Je ne connais pas mon numéro client ou je dispose d'une carte <b>Navigo Découverte</b>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-xs-4 control-label">Date de naissance</label>
                                                <div class="col-xs-4">
                                                    <div class="form-inline birth_date">
                                                        <div class="pull-left">
                                                            <select class="form-control chosen-select" id="day">
                                                                <option>JJ</option>
                                                                <option>01</option>
                                                                <option>02</option>
                                                            </select>
                                                        </div>
                                                        <div class="pull-left">
                                                            <select class="form-control chosen-select" id="month">
                                                                <option>MM</option>
                                                                <option>Janvier</option>
                                                                <option>Février</option>
                                                            </select>
                                                        </div>
                                                        <div class="pull-left">
                                                            <select class="form-control chosen-select" id="year">
                                                                <option>AAAA</option>
                                                                <option>1970</option>
                                                                <option>1969</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-xs-offset-4">
                                        <button type="button" class="btn btn-primary pull-right" title="Valider le formulaire et poursuivre"><span >Continuer</span></button>
                                        </div>
                                    </div>
                                </div>


                                <div class="step_form" id="step_profil_3"><!-- 0.3 -->
                                 <p class="title">Veuillez compléter les informations suivantes afin de pouvoir rattacher votre espace à vos données clients :</p>
                                    <div class="form-content">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">E-mail<span class="star">*</span></label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control" value="nom.prenom@email.fr">
                                            </div>
                                            <div class="col-xs-4"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Numéro client<span class="star">*</span></label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control" placeholder="Inscrit à coté de la photo" value="123456789">
                                            </div>
                                            <div class="col-xs-4"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Nom</label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-4"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Prénom</label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-4"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Code postal</label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-4"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label">Téléphone portable</label>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-4"></div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-xs-4 control-label">Date de naissance</label>
                                                <div class="col-xs-4">
                                                    <div class="form-inline birth_date">
                                                        <div class="pull-left">
                                                            <select class="form-control chosen-select" id="day">
                                                                <option>JJ</option>
                                                                <option>01</option>
                                                                <option>02</option>
                                                            </select>
                                                        </div>
                                                        <div class="pull-left">
                                                            <select class="form-control chosen-select" id="month">
                                                                <option>MM</option>
                                                                <option>Janvier</option>
                                                                <option>Février</option>
                                                            </select>
                                                        </div>
                                                        <div class="pull-left">
                                                            <select class="form-control chosen-select" id="year">
                                                                <option>AAAA</option>
                                                                <option>1970</option>
                                                                <option>1969</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-xs-offset-4">
                                        <button type="button" class="btn btn-primary pull-right" title="Valider le formulaire et poursuivre"><span>Continuer</span></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="step_form" id="step_profil_4"><!-- 0.4 -->
                                 <p class="title">Veuillez vous identifier :</p>
                                    <div class="form-content">

                                        <div class="form-group">
                                                <div class="col-xs-8">
                                                    <div class="radio radio-list">
                                                        <input type="radio" name="radio15" id="inlineRadio15" value="1">
                                                        <label class="radio" for="inlineRadio15">Jean DUPONT né le 01/05/1980</label>
                                                    </div>
                                                    <div class="radio radio-list">
                                                        <input type="radio" name="radio15" id="inlineRadio16" value="2">
                                                        <label class="radio" for="inlineRadio16">Marie DUPONT né le 01/05/1994</label>
                                                    </div>
                                                    <div class="radio radio-list">
                                                        <input type="radio" name="radio15" id="inlineRadio17" value="2">
                                                        <label class="radio" for="inlineRadio17">Luc DUPONT né le 01/05/1967</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4"></div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 col-xs-offset-4">
                                        <button type="button" class="btn btn-primary pull-right" title="Valider le formulaire et poursuivre"><span>Valider</span></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="step_form" id="echec"><!-- Echec -->
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="warning">
                                                    <p>Nous ne sommes pas parvenus à retrouver vos informations clients à partir des données que vous nous avez fournies.</p>
                                                    <p>Nous vous invitons à contacter le service client au 09 69 39 57 57 (coùt d'un appel local non surtaxé) du lundi au vendredi de 8h à 20h, le samedi de 9h à 20h, fermé le dimanche.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-xs-4 col-xs-offset-4">
                                        <button type="button" class="btn btn-primary pull-right" title="Retour à l'accueil"><span>Terminer</span></button>
                                        </div>
                                    </div>
                                </div>

                                 <div class="step_form" id="echec-specifique"><!-- Echec -->
                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="warning">
                                                    <p>Nous ne sommes pas en mesure de donner suite à votre demande.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-xs-4 col-xs-offset-4">
                                        <button type="button" class="btn btn-primary pull-right" title="Retour à l'accueil"><span>Terminer</span></button>
                                        </div>
                                    </div>
                                </div>


     </div>